.range {
    max-width: 266px;
    &__text {
        display: flex;
        width: 100%;
        justify-content: space-between;
        &__heading, &__coast {
            font-size: 12px;
            line-height: 15px;
        }
        &__coast {
            color: $dark-50;
        }
    }
    &__slider {
        height: 6px;
        appearance: none;
        width: 100%;
        border: 1px solid $dark-25;
        border-radius: 3px;
    }
}