mixin dropdown(options)
  .dropdown-wrapper
    h3.dropdown-heading= options.heading ? options.heading : ""
    .dropdown(class= options.class ? options.class : "")
        span.dropdown-selectedText= options.selectedText ? options.selectedText: ""
        button.dropdown-button(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        .dropdown-menu(aria-labelledby='dropdownMenuButton') 
        if block 
          block

//- Элемент списка с счётчиком
mixin dropdownCountItem(itemName) 
  .dropdown-item
    span= itemName
    .dropdown-item__quantity 
      .dropdown-item__quantity__countButton.dropdown-item__quantity__countButton-minus
      .dropdown-item__quantity__counter 0
      .dropdown-item__quantity__countButton.dropdown-item__quantity__countButton-plus

//- Элемент списка без счётчика

mixin dropdownItem(itemName)
  .dropdown-item
    span= itemName