mixin advantage(options)
    .advantage 
        .advantage__content
            .advantage__content__image
                img(src= options.src)
            .advantage__content__text
                h3.advantage__text__heading= options.heading
                p.advantage__text__description= options.description
