.social {
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    cursor: pointer;
    transition: $transition;
    &:hover {
        opacity: 0.75;
    }
    &-twitter {
        background-image: url('/assets/img/twitter.svg');
    }

    &-instagram {
        background-image: url('/assets/img/instagram.svg');
    }

    &-facebook {
        background-image: url('/assets/img/facebook.svg');
    }
}