.login {
    height: 358px;
    &__form {
        margin-top: 20px;
        .button {
            margin-top: 20px;
        }
    }
    &__no-have-account {
        display: flex;
        justify-content: space-between;
        height: 44px;
        margin-top: 30px;
        &__text {
            line-height: 44px;
        }
    }
}