.rate {

    &__button {
        display: inline-block;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center center;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}