.header {
    padding: 15px 140px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    max-width: 1440px;

    @media screen and (max-width: 1025px) {
        padding: 15px 40px;
    }
    &__nav {
        height: 100%;
        display: flex;
        margin-left: auto;
        margin-right: 0;
        @media screen  and (max-width: 769px){
            display: none;
        }
        &__link {
            margin-left: 30px;
            display: block;
            position: relative;
            cursor: pointer;
            color: $dark-50;
            line-height: 40px;
            &:nth-child(2), &:nth-child(5) {
                &::after {
                    content: '';
                    background-image: url('/assets/img/expand_more.svg');
                    background-repeat: no-repeat;
                    background-size: auto;
                    background-position: center center;
                    width: 24px;
                    height: 100%;
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                }
            }
            &:nth-child(3) {
                margin-left: 44px;
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 44px;
            }
            &_active {
                color: $dark-75;
                font-weight: bold;
            }
        }
    }

    &__log {
        display: flex;
        align-items: center;
        .button {
            &-login {
                margin-right: 20px;
                width: 87px;
                height: 34px;
            }
            &-register {
                width: 196px;
                height: 34px;
            }
        }
        &__name {
            color: $dark-50;
            display: inline-block;
            border-left: 1px solid $dark-10;
            padding-left: 30px;
            height: 30px;
            line-height: 30px;
        }
    }
    &__mobile {
        display: none;
    }
}