extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content 
  input.text-field(placeholder="kek")

block script
  script(type='text/javascript').
    