extends ../layout/main

block head 


block variables
    - var title = 'Webpack + Pug';
    - var description = 'Description for Webpack + Pug';
    - var pageClass = 'index-page';
    - let checkboxMode = "checkbox"

block content 
    include ../includes/modules/form-elements/range-slider/range-slider
    +rangeSlider({
        id: 'a',
        heading: 'heading',
        coast: '10 000 - 20 000'
    })
    

block scripts
