extends ../layout/main

block head 


block variables
    - var title = 'Webpack + Pug';
    - var description = 'Description for Webpack + Pug';
    - var pageClass = 'index-page';

block content 
    include ../includes/modules/form-elements/dropdown/dropdown
        +dropdownCountItem("Привет")
        +dropdownItem('Хех')

block scripts
