extends ../layout/main

block head

block variables
    - var title = 'Toxin';
    - var description = 'Toxin web page';
    - var pageClass = 'landing-page';
    - let checkboxMode = "checkbox"

block header
    include ../includes/modules/header/header
    +header({})

block content 
    section.landing-page-content
block footer
    include ../includes/modules/footer/footer



    


    

block scripts