extends ../layout/main

block head 


block variables
    - var title = 'Webpack + Pug';
    - var description = 'Description for Webpack + Pug';
    - var pageClass = 'index-page';
    - let checkboxMode = "checkbox"

block content 
    include ../includes/modules/cards/reserve/reserve


    

block scripts
