mixin radioButton(text, id, name)
    .radio(id="radio_"+id)
        .radio__button
            input(type="radio" id= id name= name).radio__button__input
            label(for= id).radio__button__label
        span(id="radio__description_"+id).radio__description= text

mixin radioSelect(options)
    - let counter = 0
    while counter < options.array.length
        +radioButton(options.array[counter][0], options.array[counter][1], options.name)
        - counter++