header.header_default
    img(src="./assets/img/Logo.svg" alt="logo", srcset)
    nav.header_default__nav
        a(href="#") Home
        a(href="#") About Us
        a(href="#") Services
            span(class="" id="") 
        a(href="#") Careers
        a(href="#") News
        a(href="#") Documentation
        .nav-buttons 
            a(href="#" class="button__login button") Login
            a(href="#" class="button__register button") Register