mixin header(options)
    header.header 
        .logo
        nav.header__nav
            a.header__nav__link О нас
            a.header__nav__link Услуги 
            a.header__nav__link Вакансии  
            a.header__nav__link Новости 
            a.header__nav__link Соглашения
        .header__log
            if options.logged
                span.header__log__name Name Surname
            else if !options.logged
                include ../form-elements/buttons/buttons
                +button({
                    value: 'Войти',
                    class: 'button-login'
                })
                +button({
                    value: 'Зарегистрироваться',
                    class: 'button_fill button-register'
                })
        .header__mobile
            .header__mobile-burger
            .header__mobile-menu
                ul
                    li
                        a О нас
                    li
                        a Услуги
                    li
                        a Вакансии
                    li
                        a Новости
                    li
                        a Соглашения