mixin toggle(toggleText, checked, name)
    .d-flex
        .toggle
            input(type="checkbox" class="toggle__button" id= name checked= checked)
            label(for= name class="toggle__label")
                span
        .toggle-text 
            span.toggle__text__content= toggleText