.bullet {
    &-list {
        &__item {
            height: 24px;
            line-height: 24px;
            &:before {
                content: '';
                display: inline-block;
                width: 10.43px;
                height: 10px;
                border-radius: 50%;
                background: $dark-25;
                margin-right: 10.43px;
            }
        }
    }
}